<h1>Segmenting and Clustering Neighborhoods in Toronto</h1>
<p>Import requests and panda</p>

In [11]:
!pip install lxml
!pip install BeautifulSoup4
import requests
import pandas as pd

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.6.1)
Requirement already satisfied: BeautifulSoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from BeautifulSoup4) (2.0.1)

<p>Get the HTML of the Wiki page, convert into a table with help of read_html (read HTML tables into a list of DataFrame objects), remove cells with a borough that is Not assigned.</p>

In [25]:
wiki = 'http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wikipedia_page = requests.get(wiki)        

df_raw = pd.read_html('http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)[0]
df_new = df_raw[df_raw.Borough != 'Not assigned']

df_new.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

<p>Find whether there is a "Not assigned" in Neighbourhood</p>

In [32]:
df_new.loc[df_new.Neighbourhood == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [ ]:
#df_new.Neighbourhood.replace('Not assigned', df_new.Borough,inplace=True)
#df_new.head(8)

In [33]:
df_toronto = df_new.groupby(['Postal Code', 'Borough'])['Neighbourhood'].apply(lambda x: ', '.join(x))
df_toronto = df_toronto.reset_index()
df_toronto.rename(columns = {'Postcode':'PostalCode'}, inplace = True)
df_toronto.rename(columns = {'Neighbourhood':'Neighborhood'}, inplace = True)
df_toronto.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [34]:
df_toronto.shape

(103, 3)


Get the latitude and the longitude coordinates of each neighborhood

Use the csv file, because of some problems with geocoder

In [35]:
url = 'http://cocl.us/Geospatial_data'
df_geo=pd.read_csv(url)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [36]:

#check the sshape o the csv file
df_geo.shape

(103, 3)

Both tables have the same chape. Now we can join new colums to our data.

In [38]:
df_toronto = df_toronto.join(df_geo.set_index('Postal Code'), on='Postal Code')
df_toronto.head

<bound method NDFrame.head of     Postal Code      Borough  \
0           M1B  Scarborough
1           M1C  Scarborough
2           M1E  Scarborough
3           M1G  Scarborough
4           M1H  Scarborough
..          ...          ...
98          M9N         York
99          M9P    Etobicoke
100         M9R    Etobicoke
101         M9V    Etobicoke
102         M9W    Etobicoke

                                          Neighborhood   Latitude  Longitude
0                                       Malvern, Rouge  43.806686 -79.194353
1               Rouge Hill, Port Union, Highland Creek  43.784535 -79.160497
2                    Guildwood, Morningside, West Hill  43.763573 -79.188711
3                                               Woburn  43.770992 -79.216917
4                                            Cedarbrae  43.773136 -79.239476
..                                                 ...        ...        ...
98                                              Weston  43.706876 -79.518188
99                                           Westmount  43.696319 -79.532242
100  Kingsview Village, St. Phillips, Martin Grove ...  43.688905 -79.554724
101  South Steeles, Silverstone, Humbergate, Jamest...  43.739416 -79.588437
102                Northwest, West Humber - Clairville  43.706748 -79.594054

[103 rows x 5 columns]>